numpy
scipy
h5py
matplotlib
multiprocess
jupyter
jupyterlab
ipykernel
ipywidgets
ipympl
jupyterlab-h5web
variable-inspector
git+https://github.com/vabekjan/universal_input.git@pipable#egg=create_universal_HDF5